@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* = Tіло = */
body {
  padding: 0;
  font-family: Roboto, 'Segoe UI', sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #ffffff;
  color: #757575;
}

/* = Обнулення стилів = */
p,
h1,
h2,
h3,
li,
ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* = Приховую обєкт = */
.visually-hiden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  max-width: -1px;
}

/* = Параметри  = */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

/* = Хедер сайту = */
.header {
  border-bottom: 1px solid #ececec;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.header__logo {
  color: #000;
}

.header__icon {
  margin-right: 10px;
  fill: currentColor;
}

/* = лого = */
.logo {
  align-self: center;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo__white {
  color: #fff;
}

.logo__anime {
  transform: rotateY(360deg);
  animation: rotateY 5000ms infinite alternate backwards ease-in-out 100ms;
}

@keyframes rotateY {
  0% {
    transform: perspective(500px) rotateY(0deg);
  }
  100% {
    transform: perspective(500px) rotateY(360deg);
  }
}

/* = навігація = */
.nav-bar {
  display: flex;
  align-items: center;
}

.nav-bar .site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.site-nav__list {
  display: flex;
}

.site-nav__link {
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 32px 0 32px 0;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.site-nav__link.current {
  color: #2196f3;
}

.site-nav__link {
  position: relative;
  display: flex;
}

.site-nav__link.current::before {
  content: '';
  display: flex;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  position: absolute;
  bottom: 0;
}

/* = контакти = */
.contacts {
  display: flex;
  margin-left: auto;
  padding: 32px 0 32px 0;
  justify-content: center;
  align-items: center;
}

.contacts .contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.contacts__link {
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* = = = Портфоліо = = = */
/* = фільтр = */
.filter {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.filter-list .filter-item + .filter-item {
  margin-left: 8px;
}

/* = кнопки = */
.buttons {
  min-height: 38px;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--title-site-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons:hover, .buttons:focus {
  color: #fff;
  background-color: #2196f3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 0px;
}

.list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.category {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

/* = картки = */
.cards-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.cards-item {
  margin-right: 30px;
  margin-bottom: 30px;
  overflow: hidden;
}

.cards-item:hover .description {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  background-color: #03a9f4;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-item:nth-child(3n) {
  margin-right: 0;
}

.cards-item:nth-child(n + 7) {
  margin-bottom: 30px;
}

.cards-item:focus, .cards-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-description {
  position: relative;
  overflow: hidden;
}

.description {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  background-color: #03a9f4;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  opacity: 0.9;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-text {
  padding: 24px 20px;
  box-sizing: border-box;
  border: 1px solid #eeeeee;
  background: #fff;
}

/* = Команда = */
.teams {
  background-color: #f5f4fa;
}

.teams__list {
  display: flex;
}

.teams__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.teams__names, .teams__specialization {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.teams__names {
  margin-bottom: 10px;
  font-weight: 500;
  color: #212121;
}

.teams__list .teams__item + .teams__item {
  margin-left: 30px;
}

.titles {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.notes {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.social__list {
  display: flex;
  margin-top: 16px;
  justify-content: center;
  align-items: center;
  min-width: 206px;
  min-height: 44px;
}

.social__link {
  width: 44px;
  height: 44px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: #2196f3;
  color: #fff;
}

.social__item + .social__item {
  margin-left: 10px;
}

/* = футер = */
.footer {
  display: flex;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.footer__container {
  display: flex;
  float: left;
}

.footer__adsres {
  display: block;
  padding-left: 0;
  margin-top: 20px;
}

/* = футер адрес = */
.addres__post {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #fff;
}

.addres__item {
  margin-top: 9px;
}

.addres__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.addres__link:hover, .addres__link:focus {
  color: #2196f3;
}

/* = футер підписка = */
.footer__social {
  display: block;
  width: 206px;
  height: 80px;
  margin-top: 12px;
  margin-left: 70px;
  padding: 0;
}

.footer__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
}

.footer__social__list {
  margin-top: 20px;
}

.footer__social__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social__link:hover, .footer__social__link:focus {
  background-color: #2196f3;
  color: #fff;
}

.footer__social__item + .footer__social__item {
  margin-left: 10px;
}

.footer__social__icon {
  fill: currentColor;
}

.footer__subscrabe {
  margin-top: 12px;
  margin-left: 93px;
}

/* = футер форма = */
.footer__form {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  /* чи буде це помилка ???*/
}

.footer__form__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  color: #fff;
  border: 1px solid #757575;
  border-radius: 4px;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  padding-left: 16px;
}

.footer__form__icon {
  margin-left: 10px;
  align-items: center;
}

.footer__form .form__label {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}

.footer__form__input:hover,
.footer__form__input:focus {
  background-color: rgba(117, 117, 117, 0.2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__form__button {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  padding-left: 29px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__form__button:hover, .footer__form__button:focus {
  background-color: #188ce8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=portfolio.css.map */